@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	padding:0;
}
.top{height: 120px;width: 960px;}


.title{height: 32px;width: 960px;margin-top: 0px; background-color: #25a069;}
.dh ul{list-style: none;margin-left:50px;}
.dh ul li{float: left;margin-left: 35px;height:32px;width:80px;text-align: center;line-height: 30px;}

.dh ul li a{text-decoration: none;}

.un{height: 300px;width: 960px;;margin-top: 10px;}
.ti{width: 180px;height: 290px;border-style: solid;float: left;border-color: #ffcc66;border-width: 2px;}
#til{height: 50px;width: 180px;background: #edab2c;}
p{padding-top: 10px;font-size: 24px;margin-left: 35px;}
#tie{height: 240px;width: 180px;background: #fffbde;}
#tie ul{list-style:square;color: #ffab02; }
#tie ul li{line-height: 38px;margin-left:50px;}
#tie ul li a{color: #000000;text-decoration: none;}
.u2{float: left; width: 480px;height:292px;margin-left: 10px;}
.ud{float:right; width: 270px;height:293px;margin-left: 0px;background:#f8f8f8;}
.d1{width:270px;height: 92px;margin-top: 5px;}
.d1 ul{font-size: 12px;line-height: 24px;margin-top: 10px;}
.d1 li{margin-left:26px;font-size: 16px;color:#80cca8;}
.d1 strong{margin-left: 20px;font-size: 12px;}
#e1 {background-color: #71ab3a;color:#FFFFFF;}
#e2 {background-color: #57a1e8;color:#FFFFFF;}
#e3 {background-color: #fe912a;color:#FFFFFF;}
.d1 a{margin-left: 5px;text-decoration: none;color: #005eac;}
.d1 small{font-size: 12px;color: #000000;}

.con{height: 520px;width: 960px;margin-top: 10px;}
.tab {
        width:673px;
        height: 520px;
        margin: 0px;
        border: 1px solid #eee;
        overflow: hidden;
	    float: left;
    }
    .tab-title {
        height: 40px;
        position: relative;
        background: #f7f7f7;border-bottom-color:#d7d7d7;border-bottom-style: solid;border-bottom-width: 1px;
    }
    .tab-title ul {
        position: absolute;
        width: 320px;
        left: 10px;
    }
    .tab-title li {
        float: left;
        width: 80px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        padding: 0 1px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
		font-size: 18px;
    }
    .tab li a:link, .tab li a:visited {
        text-decoration: none;
        color: #000;
    }
    .tab li a:hover {
        color: #f90;
        font-weight: 700;
    }
    .tab-title li.select {
        background: #fff;
        border-bottom-color: #fff;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        padding: 0;
    }
    .tab .tab-content .tabct {
        margin: 10px 20px 10px 20px;
    }
    .tab .tab-content .tabct ul li {
         
		list-style:square;
		color: #eee;
		margin-left: 15px;
		line-height: 28px;
    }
.tab .tab-content .tabct ul li a {color: #019454;}
.tab .tab-content .tabct ul li b{color: #fe6654;float: right;margin-right: 12px;}
.ne{height: 520px;width: 270px;float:right;border: 1px solid #eee;}
.re{height: 40px;position: relative; background: #f7f7f7;border-bottom-color:#d7d7d7;border-bottom-style: solid;border-bottom-width: 1px;}
.re p{font-size: 15px;margin-left: 20px;}
.te ul{list-style:none;margin-left:8px;margin-right:8px;font-size: 12px;line-height: 36px;}
.te li{margin-left: 20px;margin-left:5px;}
.te li a{text-decoration: none;margin-left: 5px;color:#005eac; }
#ty{width: 6px;height: 6px;float: left;background-color: #71ab3a;color:#FFFFFF;margin-top: 15px;}
#tp{width: 6px;height: 6px;float: left;background-color: #fe912a;color:#FFFFFF;margin-top: 15px;}

.bottom{width: 960px;height: 260px; margin-top: 10px;}
.hi{width: 960px;height: 92px;border-top-style:solid;border-bottom-style: solid;border-width: 1px; border-color:#e991cb;background: #f7f7f7;}
.hi ul{list-style:none;margin-left: 20px;}
.hi li{float:left;margin-left: 32px;margin-top: 8px;line-height: 20px;}
.hi a{text-decoration: none;color: #000000;}
.ft{margin-top: 10px;}
.dy{width: 960px;height: 35px;background-color: #24778C;border-radius: 10px;}
.dy ul{list-style:none;margin-left: 23px;}
.dy li{float:left;margin-left: 54px;margin-top: 8px;}
.dy a{text-decoration: none;color: #000000;}
.rt{width: 960px;height: 100px;margin-top: 10px;font-size: 14px;text-align: center;line-height: 32px;border-width: 0.1em;border-bottom-color:#e991cb;border-bottom-style: solid; }

 img {
      vertical-align: top;
    }
#box{margin-left: 10px; float: left; margin-top: 0px;}
 
    .all {
      width: 470px;
      height: 282px;
      margin: 10px auto;
      padding: 5px;
      border: 1px solid #ccc;
      position: relative;
    }
 
    .inner {
      position: relative;
      width: 470px;
      height: 282px;
      background-color: pink;
      overflow: hidden;
    }
 
    .inner ul {
      width: 1000%;
      list-style: none;
      position: absolute;
      top: 0;
      left: 0;
    }
 
    .inner ul li {
      float: left;
    }
 
    .focusD {
      position: absolute;
      left: 0;
      top: 50%;
      width: 470px;
      padding: 0 0px;
      height: 30px;
      box-sizing: border-box;
     display: none;
    }
 
    .inner ol {
      position: absolute;
      right: 30px;
      bottom: 10px;
    }
 
    .inner ol li {
      width: 15px;
      display: inline-block;
      height: 15px;
      margin: 0 3px;
      cursor: pointer;
      line-height: 15px;
      text-align: center;
      background-color: #fff;
    }
    /*当前的高亮的小圆点*/
    .inner ol .current {
      background-color: orange;
      color: #fff;
    }
 
    .focusD span {
      display: inline-block;
      width: 25px;
      font-size: 24px;
      height: 30px;
      color: #ccc;
      line-height: 30px;
      text-align: center;
      background: rgba(255, 255, 255, 0.3);
      cursor: pointer;
    }
 
    #left {
      float: left;
    }
 
    #right {
      float: right;
}
