@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	padding:0;
}
.top{height: 120px;width: 960px;}


.title{height: 32px;width: 960px;margin-top: 0px; background-color: #25a069;}
.dh ul{list-style: none;margin-left:50px;}
.dh ul li{float: left;margin-left: 35px;height:32px;width:80px;text-align: center;line-height: 30px;}
.dh ul li a{text-decoration: none;}

.iv{width: 960px;height: 340px; margin-top: 10px;}
.ry{width: 240px;height: 340px;float: left; border-style:solid;border-width: 1px;margin-left: 10px;border-radius: 10px;}
.uo{width: 240x;height: 32px;border-style: solid;border-width: 1px;border-color: #d7d7d7;background-color: #f7f7f7;text-align: center;font-size: 14px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.ry li{list-style:none;margin-left: 38px;line-height: 28px;}
#tu{float: left;margin-top: 8px;margin-left: 15px;}
.cj{width: 200px;height: 340px;float:right; border-style:solid;border-color: #215968;border-width: 2px;}
.po{width: 198px;height: 32px;border-style: solid;border-width: 1px;border-color: #d7d7d7;background-color: #f7f7f7;text-align: center;}
.eo{margin-top: 8px;font-size: 15px;color: #f1da1a;}
#to{margin-left:  24px;font-size: 10px;line-height: 23px;font-size: 14px;}
#to li {color: #d7d7d7;list-style: square;}
#to a{text-decoration: none;color: #000000;}


.ro{width: 960px;height: 510px;margin-top: 15px;}
.ko{width: 225px;height: 396px;margin-top: 6px; float: left;margin-left: 7px; border-style:ridge;border-color: #ffad7b;border-width: 2px;}
.ko ul{list-style:none;margin-left: 3px;}
.ko li{margin-top: 8px;line-height: 24px;}
.ko a{text-decoration: none;font-size: 16px;color: #000000;}
.ri{width: 221px;height: 40px;border-style: solid;border-width: 2px;border-color: #d7d7d7;background-color: #ffe7ce;text-align: center;}
.wl{margin-top: 8px;font-size: 18px;color: #ff7200;}
.wl a{color: #ff7200;}

.bottom{width: 960px;height: 260px; margin-top: 10px;}
.hi{width: 960px;height: 92px;border-top-style:solid;border-bottom-style: solid;border-width: 1px; border-color:#e991cb;background: #f7f7f7;}
.hi ul{list-style:none;margin-left: 20px;}
.hi li{float:left;margin-left: 32px;margin-top: 8px;line-height: 20px;}
.hi a{text-decoration: none;color: #000000;}
.ft{margin-top: 10px;}
.dy{width: 960px;height: 35px;background-color: #24778C;border-radius: 10px;}
.dy ul{list-style:none;margin-left: 23px;}
.dy li{float:left;margin-left: 54px;margin-top: 8px;}
.dy a{text-decoration: none;color: #000000;}
.rt{width: 960px;height: 100px;margin-top: 10px;font-size: 14px;text-align: center;line-height: 32px;border-width: 0.1em;border-bottom-color:#e991cb;border-bottom-style: solid; }
