@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	padding:0;
}
.top{height: 120px;width: 960px;}


.title{height: 32px;width: 960px;margin-top: 0px; background-color: #25a069;}
.dh ul{list-style: none;margin-left:50px;}
.dh ul li{float: left;margin-left: 35px;height:32px;width:80px;text-align: center;line-height: 30px;}
.dh ul li a{text-decoration: none;}

.lv{width: 960px;height: 385px;margin-top: 10px;}
.lv a{text-decoration: none;color: #000000;margin-left: 10px;}
.lv #li b{font-size: 30px;margin-left: 5px;}
#li {width: 960px;height: 60px;border-bottom-style:solid;border-width: 0.1em;border-color:#ffa800; }
#li smil{margin-left: 5px;}
#ui{margin-top: 20px;margin-left: 25px;}
.io{margin-left: 30px;float: left;}
.io li {font-size: 13px;line-height: 32px;color:#cccccc;}
.io a{margin-left: 0px;}

.ey{width: 960px;height: 385px;margin-top: 10px;}
.ey a{text-decoration: none;color: #000000;margin-left: 10px;}
.ey #iil b{font-size: 30px;margin-left: 5px;}
#iil {width: 960px;height: 60px;border-bottom-style:solid;border-width: 0.1em;border-color:#ff83ac; }
#iil smil{margin-left: 5px;}
.ji{float:left;;width: 620px;height: 280px;margin-top: 32px;margin-left: 25px;}
.ij{margin-left: 180px;margin-right: 12px;margin-top: 5px;}
.ij a{font-size: 18px;margin-left: 0px;}
.ij p{font-size: 16px;margin-top: 10px;line-height: 23px;}
.yi {float: left;font-size: 12px;margin-left: 32px; margin-top: 12px;}
.yi li {color:#cccccc;line-height: 38px;}


.aq{width: 960px;height: 385px;margin-top: 10px;}
.aq a{text-decoration: none;color: #000000;margin-left: 10px;}
.aq #il b{font-size: 30px;margin-left: 5px;}
#il {width: 960px;height: 60px;border-bottom-style:solid;border-width: 0.1em;border-color:#a2cf36; }
#il smil{margin-left: 5px;}
#iu {margin-top: 20px;margin-left: 25px;}
.oi{margin-left: 42px;float: left;}
.oi li {font-size: 13px;line-height: 32px;color:#cccccc;}
.oi a{margin-left: 0px;}

.bottom{width: 960px;height: 260px; margin-top: 10px;}
.hi{width: 960px;height: 92px;border-top-style:solid;border-bottom-style: solid;border-width: 1px; border-color:#e991cb;background: #f7f7f7;}
.hi ul{list-style:none;margin-left: 20px;}
.hi li{float:left;margin-left: 32px;margin-top: 8px;line-height: 20px;}
.hi a{text-decoration: none;color: #000000;}
.ft{margin-top: 10px;}
.dy{width: 960px;height: 35px;background-color: #24778C;border-radius: 10px;}
.dy ul{list-style:none;margin-left: 23px;}
.dy li{float:left;margin-left: 54px;margin-top: 8px;}
.dy a{text-decoration: none;color: #000000;}
.rt{width: 960px;height: 100px;margin-top: 10px;font-size: 14px;text-align: center;line-height: 32px;border-width: 0.1em;border-bottom-color:#e991cb;border-bottom-style: solid; }
